body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    
    align-items: center;

    min-height: 100vh;
}
.card{
    background-color: white;

    border-radius: 20px;

    text-align: center;
}
.card h1{
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}
.card p{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}
.card img{
    width:100%;
    border-radius: 10px;
}